/* exercise 1 */

.ex-1-square {
    transition: background-color 3s;
}

.ex-1-square:hover {
    background-color: red;
}


/* exercise 2 */
.ex-2-square: {
    transition: 2s;
}

.ex-2-square:active {
    width: 100%;  
}

